<button tuiButton (click)="update()">Update</button>

<div>
  <app-project-form (create)="update()"></app-project-form>
</div>

<ng-container *ngIf="projects$ | async as projects">
  <ul *ngIf="projects.length > 0; else notFound" class="tui-list">
    <li
      *ngFor="let project of projects$ | async"
      class="tui-list__item project"
    >
      <div class="project__header">
        <h3 class="project__title">
          {{ project.shortTitle }}
        </h3>

        <button
          tuiButton
          size="s"
          appearance="secondary-destructive"
          (click)="onDelete(project.id)"
        >
          delete
        </button>
      </div>
      <p class="project__full-title">{{ project.fullTitle }}</p>
    </li>
  </ul>

  <ng-template #notFound>
    <h1 *ngIf="(projects$ | async)?.length === 0">Projects not found</h1>
  </ng-template>
</ng-container>
